@model List<CNPJ.App.ViewModels.ResponseApiWsVM>

@{
    ViewData["Title"] = "Consulta";
}
<h2>Consulta CNPJ</h2>

@foreach (var item in Model)
{
    <div class="card mt-3">
        <div class="card-header">
            <h5>Empresa: @item.Nome</h5>
            <h6>CNPJ: @item.Cnpj</h6>
        </div>
        <div class="card-body">
            @*1 Linha*@
            <div class="row">
                <div class="col-sm-5">
                    <b>Rua: </b>
                    <p class="field">@item.Logradouro </p>
                </div>
                <div class="col-sm-2">
                    <b>Número: </b>
                    <p class="field">@item.Numero </p>
                </div>
                <div class="col-sm-5">
                    <b>Complemento: </b>
                    <p class="field">@item.Complemento </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <b>Bairro: </b>
                    <p class="field">@item.Bairro </p>
                </div>
                <div class="col-sm-4">
                    <b>Municipio: </b>
                    <p class="field">@item.Municipio </p>
                </div>
                <div class="col-sm-1">
                    <b>UF: </b>
                    <p class="field">@item.Uf </p>
                </div>
                <div class="col-sm-3">
                    <b>CEP: </b>
                    <p class="field">@item.Cep </p>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    <script type="text/javascript">



    </script>
}